<form method="post">
	<label>Name</label><input name="name" /><br />
	<label>Email</label><input name="email" /><br />
	<label>Comment:</label><textarea name="comment"></textarea><br />
	<input type="submit" />
	</form>