
<body>

  <header>
    <div id="headerLinks">
    	<input type="text"  id="search" value="search">
    	<a href="/cart" title="Cart">Cart</a>
    </div>
  </header>

  <div id="content">
    <section class="sidebar">
    	<div id="menubar">
    		<nav class="menu">
    			<!--<%= erb :nav %>-->
    		</nav>
   		</div>
   	</section>

    <section id="offer">
	    <a id="home" href="/">Home</a>
	    <a id="products" href="/products">Products</a>
	    <a id="about" href="/about">About</a>
	    <a id="contact_us" href="/contact">Contact</a>
   		
   		<section id="contact">
	        <form action="https://formspree.io/don.chiam@gmail.com" method="post">
			<div id ="textbox">
				Name:
				<br>
				<input type="text" name="name">
			</div>		
			<div id ="textbox">
				Email Address: 
				<br>
				<input type="email" name="_replyto">
			</div>
			<div id ="textbox">
				Message:
				<br>
				<textarea name="message"></textarea><br />
				<input type="submit" value="Send"/>
			</div>
			</form>
		</section>
    </section>

  </div>



  <section class="homeContent">
  </section>

</body>
</html>
