
<body>

   <header>
    <div id="headerLinks">
      <input type="text"  id="search" value="search">
      <a href="/cart" title="Cart">Cart</a>
    </div>
  </header>

  <div id="content">
    <section class="sidebar">
      <div id="menubar">
        <nav class="menu">
 			    <!--<%= erb :nav %>-->
        </nav>
      </div>
    </section>
    <section id="offer">
      <a id="home" href="/">Home</a>
      <a id="products" href="/products">Products</a>
      <a id="about" href="/about">About</a>
      <a id="contact_us" href="/contact">Contact</a>
      <h1 id="slogan">Rainbows of Exciting Flavors!</h1>
    </section>
  </div>


  <section class="homeContent">
  </section>
 
</body>
</html>