<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Penny Juice</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>
<body>
	<%= yield %>
	<script src="/js/main_cookies.js" type="text/javascript"></script>
	<script src="/js/cart_cookies.js" type="text/javascript"></script>
</body>
</html>