<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<body style="background-color: #4AE2FD">
<div id="mainWrapper">
  <header> 
    <div id="headerLinks"><a href="#" title="Login/Register">Login/Register</a><a href="#" title="Cart">Cart</a></div>
    <div class="container">
    <img src="/images/rainbow.png" alt="logo" style="width:100%; align-items: center;">
  </header>
  <div id="content">
    <section class="sidebar"> 
      <!-- This adds a sidebar with 1 searchbox,2 menusets, each with 4 links -->
      <input type="text"  id="search" value="search">
      <div id="menubar">
        <nav class="menu">
          <h2>Navigate</h2>
            <%= erb :nav %> 
          <hr>
        </nav>
      
      </div>
    </section>
    <section class="mainContent">
      <div class="productRow"><!-- Each product row contains info of 3 elements -->
        <article class="productInfo"><!-- Each individual product description -->
          <div><img alt="sample" src="/images/appleJuice.jpg"></div>
          <p class="price">Apple</p>
          <p class="productContent">Crisp, classic, refreshing!</p>
          <input type="button" name="button" value="Buy" class="buyButton">
        </article>
        <article class="productInfo"><!-- Each individual product description -->
          <div><img alt="sample" src="/images/strawberryBananaJuice.jpg"></div>
          <p class="price">Strawberry Banana</p>
          <p class="productContent">A classic fruit punch mix!</p>
          <input type="button" name="button" value="Buy" class="buyButton">
        </article>
        <article class="productInfo"> <!-- Each individual product description -->
          <div><img alt="sample" src="/images/citrusPunch.jpg"></div>
          <p class="price">Citrus Punch</p>
          <p class="productContent">A lemon-lime twisted flavor sensation!</p>
          <input type="button" name="button" value="Buy" class="buyButton">
        </article>
      </div>
      <div class="productRow"> 
        <!-- Each product row contains info of 3 elements -->
        <article class="productInfo"> <!-- Each individual product description -->
          <div><img alt="sample" src="/images/peachMango.jpg"></div>
          <p class="price">Peach Mango</p>
          <p class="productContent">A light and refreshing tropical twist!</p>
          <input type="button" name="button" value="Buy" class="buyButton">
        </article>
        <article class="productInfo"> <!-- Each individual product description -->
          <div><img alt="sample" src="/images/blueRaspberry.jpg"></div>
          <p class="price">Blue Raspberry</p>
          <p class="productContent">Tart, sweet, and tangy. A timeless favorite!</p>
          <input type="button" name="button" value="Buy" class="buyButton">
        </article>
        <article class="productInfo"><!-- Each individual product description -->
          <div><img alt="sample" src="/images/greenWatermelon.jpg"></div>
          <p class="price">Green Watermelon</p>
          <p class="productContent">Tart and refreshing!</p>
          <input type="button" name="button" value="Buy" class="buyButton">
        </article>
      </div>
      <div class="productRow">
        <article class="productInfo"> <!-- Each individual product description -->
          <div><img alt="sample" src="/images/cranApple.jpg"></div>
          <p class="price">CranApple</p>
          <p class="productContent">A tart classic!</p>
          <input type="button" name="button" value="Buy" class="buyButton">
        </article>
        <article class="productInfo"><!-- Each individual product description -->
          <div><img alt="sample" src="/images/berry.jpg"></div>
          <p class="price">Berry Punch</p>
          <p class="productContent">Blackberries, blue berries, stawberries, oh my!</p>
          <input type="button" name="button" value="Buy" class="buyButton">
        </article>
        <article class="productInfo"><!-- Each individual product description -->
          <div><img alt="sample" src="/images/juicekid.jpg"></div>
          <p class="price">Orange Pineapple</p>
          <p class="productContent">A tropical twist on a classic favorite!</p>
          <input type="button" name="button" value="Buy" class="buyButton">
        </article>
      </div>
    </section>
  </div>
</div>
</body>
</html>
